<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Avia Form Demo</title>		
		
		<link href="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/css/rezon-form.min.css" rel="stylesheet"/>
		
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/jquery-2.1.4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/typeahead.bundle.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/vuejs-datepicker.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/rezon-form.min.js"></script>
    </head>	
<body>
    <div class="wings" id="rezon-forms">
        <div class="rez-forms container">
            <form class="rezon-form unload avia-form" role="form" id="avia-form-shoot" autocomplete="off" 
      :target="(avia.isHotelSearchEnabled && avia.formType.value === 'roundtrip' && avia.hotelSearch) ? '_blank' : ''">
    <input type="hidden" name="segmentsCount" v-model="avia.segmentsCount"/>
    <input type="hidden" name="HistoryGuid" v-model="avia.historyGuid" />
    <input type="hidden" name="book_type" v-model="avia.formType.value" />

    <div class="fields-container" v-bind:class="[avia.formType.value,{'extended':avia.formExtended}]">
        <div class="field airport from">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("FROM")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <airport-input name="from_iata"
                               v-model="avia.aviFrom"
                               :placeholder="locale('PLACEHOLDER_AIRPORT2')"
                               input-class="book-from">
                </airport-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div v-on:click="swapAviaDest()" class="swap"><div class="arrows"></div></div>
        <div class="field airport to">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("TO")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <airport-input name="to_iata"
                               v-model="avia.aviTo"
                               :placeholder="locale('PLACEHOLDER_AIRPORT2')"
                               input-class="book-to">
                </airport-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div class="field date from">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("THERE")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <d-date-picker v-model="avia.defaultDateThere"
                                   name="book_from_date"
                                   :locale="locale"
                                   :update-page-date-on-select="true"
                                   :page-date-stamp="pageDateStamp"
                                   :dates-attributes="dateAttributesThere"
                                   :attributes-has-prices="avia.pricesCalendarEnabled"
                                   :attributes-loading="dateAttributesThereLoading"
                                   @input="updateMultyDates()"
                                   @opened="loadPrices('there')">
                        <template slot="top">
                            <div class="calendar-header">
                                <div class="title">{{locale('SELECT_DEPARTURE_DATE')}}</div>
                            </div>
                        </template>
                    </d-date-picker>
                </div>
            </div>
        </div>
        <div class="field date to">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("BACK")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <d-date-picker v-if="avia.formType.value==='roundtrip'" v-model="avia.defaultDateBack"
                                   name="book_to_date"
                                   :locale="locale"
                                   popup-position-binded-to="book_from_date"
                                   :page-date-stamp="pageDateStamp"
                                   :dates-attributes="dateAttributesBack"
                                   :attributes-has-prices="avia.pricesCalendarEnabled"
                                   :attributes-loading="dateAttributesBackLoading"
                                   @opened="loadPrices('back')">
                        <template slot="top" slot-scope="scopeSlot">
                            <div class="calendar-header">
                                <div class="title">{{locale('SELECT_RETURN_DATE')}}</div>
                                <div class="botton-in-header">
                                    <a href="#" v-on:click.prevent="scopeSlot.hideCalendar(function(){ typeChanged(0); })">{{locale('WITHOUT_RETURN_TICKET')}}</a>
                                </div>
                            </div>
                        </template>
                    </d-date-picker>
                    <span class="roundtrip_click" v-on:click="typeChanged(1); selectDateToCalendar();">{{locale("BACK")}}</span>
                </div>
            </div>
        </div>
        <div class="field pass">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("PASSENGERS")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="passengers" :class="{'has-error':avia.passengers.hasError}">
                    <div class="switch-box">
                        <span href="#" class="switch">
                            <div class="passengers-text">{{passString}}</div>
                        </span>
                    </div>
                    <div class="select-age g-hide" tabindex="-1">
                        <div class="pass_types">
                            <div class="pass_type"
                                 v-for="(type, index) in avia.passengers.types"
                                 v-show="!type.hidden && avia.enabledPassengerTypes && avia.enabledPassengerTypes.indexOf(type.name) > -1"
                                 :class="{'has-error':type.hasError,'active':type.count>0}">
                                <div class="pass_counter pull-right">
                                    <div class="remove_pass" v-on:click="removePassenger(type.name)"></div>
                                    <div class="count_pass"><span>{{type.count}}</span></div>
                                    <div class="add_pass" v-on:click="addPassenger(type.name)"></div>
                                    <div class="pas-delete" v-if="index > 5" v-on:click="deleteAdditionalPassenger(type, index)"></div>
                                    <input type="hidden" :name="type.name" v-model="type.count" />
                                </div>
                                <div class="pass_inf">
                                    <div class="category">{{locale(type.text)}}</div>
                                    <div class="age">{{locale(type.desc)}}</div>
                                </div>
                            </div>
                            <div class="select-box"
                                 v-click-outside="onClickOutside"
                                 v-if="avia.passengers.additionalTypes && avia.passengers.additionalTypes.length > 0 && filterAdditional().length > 0">
                                <div class="select-type" v-on:click="toggleClass">
                                    <span>{{locale("ADD_PASSENGER_TYPE")}}</span>
                                    <div class="arrow" :class="{ rotate:isActive }"></div>
                                </div>
                                <div class="types-block" v-show="isActive">
                                    <div class="pass_type"
                                         v-for="(type, index) in avia.passengers.additionalTypes"
                                         :key="index"
                                         v-if="!type.hidden && avia.enabledPassengerTypes.indexOf(type.name) > -1"
                                         v-on:click="addAdditionalPassenger(type, index)">
                                        <span class="category">{{locale(type.text)}}</span>
                                        <span class="age">{{locale(type.desc)}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="pricePTCOnly" v-show="avia.passengers.showPricePTCOnly">
                            <label class="checkbox-wrapper" :class="{active:avia.passengers.pricePTCOnly}">
                                <div class="check_bull"></div>
                                <input type="checkbox" name="pricePTCOnly" v-model="avia.passengers.pricePTCOnly" :value="avia.passengers.pricePTCOnly?'True':''" />
                                <span>{{locale("ONLY_SELECTED_PTC")}}</span>
                            </label>
                        </div>
                        <div class="error-box" :style="{ display: avia.passengers.messages.length>0?'block':'none'}">
                            <label v-for="msg in avia.passengers.messages">{{locale(msg)}}</label>
                        </div>
                        <span class="button-hide hidden-xs">
                            <span class="hide-inner">{{locale("HIDE")}}</span>
                        </span>
                        <span class="button-hide visible-xs">
                            <button type="button" class="hide-inner search">{{locale("CONFIRM")}}</button>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field find">
            <button type="submit" class="search" v-on:click="avia.initByUser = true">{{locale("FIND")}}</button>
        </div>
        <div class="multy-route" v-if="avia.formType.value=='route'" v-bind:class="{last : index==avia.multyRoutes.length-1}" v-for="(route,index) in avia.multyRoutes">
            <div class="field airport">
                <label class="menu-title">
                    <span class="link-left"></span>
                    {{locale("FROM")}}
                    <span class="link-right v-hide"></span>
                </label>
                <div class="control-field">
                    <airport-input :name="'from_iata'+(index+2)" v-model="route.aviFrom" input-class="book-from" :placeholder="locale('PLACEHOLDER_AIRPORT2')"></airport-input>
                    <div class="error-box"></div>
                </div>
            </div>
            <div class="field airport">
                <label class="menu-title">
                    <span class="link-left"></span>
                    {{locale("TO")}}
                    <span class="link-right v-hide"></span>
                </label>
                <div class="control-field">
                    <airport-input :name="'to_iata'+(index+2)" v-model="route.aviTo" input-class="book-to" :placeholder="locale('PLACEHOLDER_AIRPORT2')"></airport-input>
                    <div class="error-box"></div>
                </div>
            </div>
            <div class="field date">
                <label class="menu-title">
                    <span class="link-left"></span>
                    {{locale("SORTIE")}}
                    <span class="link-right"></span>
                </label>
                <div class="control-field">
                    <div class="date-wrapper noselect">
                        <d-date-picker v-model="route.defaultDateThere"
                                       :name="'book_from_date'+(index+2)"
                                       :locale="locale"
                                       :update-page-date-on-select="true"
                                       :page-date-stamp="pageDateStamp"
                                       @input="updateMultyDates()"
                                       :min-date="index>0?route.minDate:avia.defaultDateThere">
                        </d-date-picker>
                    </div>
                </div>
            </div>
            <div class="field delete-leg" v-on:click="removeSegment(index)">
                <div class="transp">
                    <span href="#" class="remove-leg">
                        <span>{{locale("REMOVE_LEG")}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="add_segment" style="display:none;" v-show="avia.formType.value=='route' && avia.multyRoutes.length < avia.maxRoutesCount">
            <div class="add transp" v-on:click="addSegment()">
                <a><span>+ {{locale("CONTINUE_ROUTE")}}</span></a>
            </div>
        </div>
        <div class="field class" v-show="avia.enabledCabinClasses && avia.enabledCabinClasses.length > 0 ">
            <label class="hidden-xs menu-title">
                {{locale("CLASS")}}
            </label>
            <div class="control-field">
                <div class="book-class">
                    <div class="selectpicker standalone">
                        <div class="options">
                            <div class="option" v-on:click="avia.bookClass=0">
                                <span>{{locale("FORM_CLASS_ANY")}}</span>
                                <input type="radio" name="book_class" value="0" v-bind:checked="avia.bookClass==0" />
                            </div>
                            <div class="option" v-show="avia.enabledCabinClasses && avia.enabledCabinClasses.indexOf(1) > -1" v-on:click="avia.bookClass=1">
                                <span>{{locale("FORM_CLASS_E")}}</span>
                                <input type="radio" name="book_class" value="1" v-bind:checked="avia.bookClass==1" />
                            </div>
                            <div class="option" v-show="avia.enabledCabinClasses && avia.enabledCabinClasses.indexOf(4) > -1" v-on:click="avia.bookClass=4">
                                <span>{{locale("FORM_CLASS_W")}}</span>
                                <input type="radio" name="book_class" value="4" v-bind:checked="avia.bookClass==4" />
                            </div>
                            <div class="option" v-show="avia.enabledCabinClasses && avia.enabledCabinClasses.indexOf(2) > -1" v-on:click="avia.bookClass=2">
                                <span>{{locale("FORM_CLASS_B")}}</span>
                                <input type="radio" name="book_class" value="2" v-bind:checked="avia.bookClass==2" />
                            </div>
                            <div class="option" v-show="avia.enabledCabinClasses && avia.enabledCabinClasses.indexOf(3) > -1" v-on:click="avia.bookClass=3">
                                <span>{{locale("FORM_CLASS_F")}}</span>
                                <input type="radio" name="book_class" value="3" v-bind:checked="avia.bookClass==3" />
                            </div>
                            <div class="option" v-show="avia.enabledCabinClasses && avia.enabledCabinClasses.indexOf(5) > -1" v-on:click="avia.bookClass=5">
                                <span>{{locale("FORM_CLASS_P")}}</span>
                                <input type="radio" name="book_class" value="5" v-bind:checked="avia.bookClass==5" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field only-direct">
            <div class="direct_flight transp">
                <label class="checkbox-wrapper" :class="{active:avia.onlyDirect}">
                    <div class="check_bull"></div>
                    <input type="checkbox" name="onlyDirect" v-model="avia.onlyDirect" :value="avia.onlyDirect?'True':''" />
                    <span>{{locale("ONLY_DIRECT_FLIGHTS")}}</span>
                </label>
            </div>
        </div>
        <div class="field carrier">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("AIRCOMPANY")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="carriers" tabindex="-1">
                    <div class="item">
                        <div class="inside">
                            <span>{{allAirCompanies}}</span>
                        </div>
                    </div>
                    <div class="carriers-finder g-hide">
                        <div class="carriers-finder-inside">
                            <div v-for="(item, index) in avia.airCompanies">
                                <input type="hidden" :name="'selectedAirCompany'+(index+1)" v-model="avia.airCompanies[index].code" />
                                <label class="clearfix carrier_name"><span class="pull-left">{{item.label}}</span><span class="delete" v-on:click="removeCarrier(index)"></span></label>
                            </div>
                            <div v-show="avia.airCompanies.length<avia.maxAirCompaniesCount">
                                <input type="text" class="typeahead-selectpicker galileo-aircompany-select" :placeholder="locale('ANY_AVIACOMPANY')" />
                            </div>
                        </div>
                        <span href="#" class="button-hide hidden-xs">
                            <span class="hide-inner">{{locale("HIDE")}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field range" v-show="avia.enabledDateRange && avia.enabledDateRange > 0 ">
            <label class="hidden-xs menu-title">
                {{locale("SEARCH")}}
            </label>
            <div class="control-field">
                <div class="book-range">
                    <div class="selectpicker standalone">
                        <div class="options">
                            <div class="option" v-on:click="avia.intervalCount = 0">
                                <span>{{locale("BY_EXACT_DATE")}}</span>
                                <input type="radio" name="dateRange" value="0" v-bind:checked="avia.intervalCount == 0" />
                            </div>
                            <div class="option" v-show="avia.enabledDateRange && avia.enabledDateRange >= 1" v-on:click="avia.intervalCount = 1">
                                <span>&plusmn;1 <span>{{locale("DAY")}}</span></span>
                                <input type="radio" name="dateRange" value="1" v-bind:checked="avia.intervalCount == 1" />
                            </div>
                            <div class="option" v-show="avia.enabledDateRange && avia.enabledDateRange >= 2" v-on:click="avia.intervalCount = 2">
                                <span>&plusmn;2 <span>{{locale("DAYS")}}</span></span>
                                <input type="radio" name="dateRange" value="2" v-bind:checked="avia.intervalCount == 2" />
                            </div>
                            <div class="option" v-show="avia.enabledDateRange && avia.enabledDateRange >= 3" v-on:click="avia.intervalCount = 3">
                                <span>&plusmn;3 <span>{{locale("DAYS")}}</span></span>
                                <input type="radio" name="dateRange" value="3" v-bind:checked="avia.intervalCount == 3" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field hide_s">
            <a href="#" class="transp dashed" v-if="avia.formType.value !== 'route'" v-on:click.prevent="typeChanged(2)">
                <span>{{locale(avia.formTypes[2].text)}}</span>
            </a>
            <div class="transp" style="display:none;" v-show="avia.formType.value === 'route'">
                <a href="#" class="extended-form-link dashed" v-on:click.prevent="typeChanged(1)">
                    <span>{{locale("BACK_TO_SIMPLE_ROUTE")}}</span>
                </a>
            </div>
            <div class="transp" v-on:click="changeAviaFormExtended()">
                <div class="hide_settings dashed">
                    <div class="simple_search">
                        <span>{{locale("HIDE_ADVANCED_SETTINGS")}}</span>
                    </div>
                    <div class="advanced_search">
                        <span>{{locale("ADVANCED_SETTINGS")}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field extended-form" v-if="avia.formExtended">
            <div class="transp">
                <a href="/DEFAULT_LANGUAGE/AirTickets/ExtendedHistory" class="extended-form-link">
                    <span>{{locale("OPEN_AVIA_ADDITIONAL_FORM")}}</span>
                </a>
            </div>
        </div>
        <div class="field clear">
            <div class="transp">
                <span href="#" class="clear_form" v-on:click="clearForm()">
                    <span>{{locale("CLEAR_ALL")}}</span>
                </span>
            </div>
        </div>

        <div class="field hotel_search" v-show="avia.isHotelSearchEnabled && avia.formType.value === 'roundtrip'" style="display: none; order: 10; margin-left: auto">
            <label class="checkbox-wrapper" :class="{active:avia.hotelSearch}">
                <div class="check_bull"></div>
                <input id="hotelSearch" type="checkbox" name="hotelSearch" v-model="avia.hotelSearch" :value="avia.hotelSearch ? 'True' : ''" />
                <span>{{locale("AIR_HOTEL_SEARCH")}}</span>
            </label>
        </div>
        <input type="hidden" id="initByUser" :value="avia.initByUser ? 'true' : ''" />

    </div>
    <div class="earlier" v-if="historyData && historyData.length > 0">
        <div class="earlier-title">{{locale("SEARCHED")}}</div>
        <div class="earlier-box">
            <a href="#" class="earlier-item" v-for="history in historyData.slice(0, 3)" v-on:click.prevent="selectHistoryItem(history)">
                <div class="point from">
                    <div class="point-date">{{ history.formatDate(history.parseDateTime(history.dateThere)) }}</div>
                    <div class="point-item">{{ history.formatAirport(history.aviFrom.Airport) }}</div>
                </div>
                <div class="arrow" :class="history.formType.value === 'oneway' ? 'oneway' : ''">
                    <span>&rarr;</span>
                    <span v-if="history.formType.value !== 'oneway'">&larr;</span>
                </div>
                <div class="point to">
                    <div class="point-date" v-if="history.formType.value !== 'oneway'">{{ history.formatDate(history.parseDateTime(history.dateBack)) }}</div>
                    <div class="point-item">{{ history.formatAirport(history.aviTo.Airport) }}</div>
                </div>
            </a>
        </div>
    </div>
</form>

        </div>
    </div>
	<script type="text/javascript">
		$(document).ready(function(){
		    $("#rezon-forms").rezOnForm({
				projectUrl: "https://test.rezonuniversal.com/",
				defaultLang: "ru",
				formType: "avia",
				formTarget: "_blank"
			});
		});
	</script>
</body>
</html>
