<form class="rezon-form avia-form" role="form" id="avia-form-shoot" autocomplete="off">
    <input type="hidden" name="segmentsCount" v-model="avia.segmentsCount"/>
    <input type="hidden" name="HistoryGuid" v-if="avia.historyGuid.trim().length>0" v-model="avia.historyGuid" />
    <div class="row">
        <div class="direct radio-group">
            <label v-for="(type,index) in avia.formTypes" v-bind:class="{active: avia.formType.value === type.value}" v-on:click="typeChanged(index)">
                <span data-local="true" :data-localtext="type.text">{{locale(type.text)}}</span>
            </label>
            <input type="radio" name="book_type" v-bind:value="avia.formType.value" checked/>

        </div>
    </div>
    <div class="fields-container" v-bind:class="[avia.formType.value,{'extended':avia.formExtended}]">
        <div class="field airport">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="visible-xs-inline-block link-left hidden">&larr;</span>
                {{locale("FROM")}}
                <span class="visible-xs-inline-block link-right hidden">&#215;</span>
            </label>
            <div class="control-field">
                <airport-input name="from_iata" v-model="avia.aviFrom" :placeholder="locale('PLACEHOLDER_AIRPORT2')" input-class="book-from"></airport-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div v-on:click="swapAviaDest()" class="swap">
            &uarr;
            &darr;
        </div>
        <div class="field airport">
            <label class="menu-title">
                <span class="visible-xs-inline-block link-left hidden">&larr;</span>
                {{locale("TO")}}
                <span class="visible-xs-inline-block link-right hidden">&#215;</span>
            </label>
            <div class="control-field">
                <airport-input name="to_iata" v-model="avia.aviTo" :placeholder="locale('PLACEHOLDER_AIRPORT2')" input-class="book-to"></airport-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div class="field date from">
            <label class="menu-title">
                <span class="visible-xs-inline-block link-left hidden">&larr;</span>
                {{locale("THERE")}}
                <span class="visible-xs-inline-block link-right hidden">&#215;</span>
            </label>
            <div class="control-field">
                <div class="date-wrapper">
                     <datepicker :placeholder="locale('SELECT_DATE')" language="ru"  v-model="avia.defaultDateThere" name="book_from_date" input-class="book-date datepicker" :date-from="avia.defaultDateThere" :date-to="avia.defaultDateBack"></datepicker>
                </div>
            </div>
        </div>
        <div class="field date to">
            <label class="menu-title">
                <span class="visible-xs-inline-block link-left hidden">&larr;</span>
                {{locale("BACK")}}
                <span class="visible-xs-inline-block link-right hidden">&#215;</span>
            </label>
            <div class="control-field">
                <div class="date-wrapper">
                    <datepicker :placeholder="locale('SELECT_DATE')" language="ru" v-model="avia.defaultDateBack" name="book_to_date" input-class="book-date datepicker" :date-from="avia.defaultDateThere" :date-to="avia.defaultDateBack" v-if="avia.formType.value==='roundtrip'"></datepicker>
                     <span class="roundtrip_click" v-on:click="typeChanged(1)">{{locale("BACK")}}</span>
                </div>
            </div>
        </div>
        <div class="field pass">
            <label data-local="true" data-localtext="PASSENGERS" class="menu-title">
                <span class="link-left hidden">&larr;</span>
                {{locale("PASSENGERS")}}
                <span class="link-right hidden">&#215;</span>
            </label>
            <div class="control-field">
                <div class="passengers" :class="{'has-error':avia.passengers.hasError}">
                    <div class="switch-box">
                        <span href="#" class="switch">
                            <div class="passengers-text">{{passString}}</div>
                        </span>
                    </div>
                    <div class="select-age g-hide" tabindex="-1">
                        <div class="pass_types">
                            <div class="pass_type" v-for="(type,index) in avia.passengers.types" v-show="!type.hidden">
                                <div class="pass_counter pull-right">
                                    <div class="remove_pass" v-on:click="removePassenger(type.name)">
                                        <span href="#">&minus;</span>
                                    </div>
                                    <div class="count_pass"><span>{{type.count}}</span></div>
                                    <div class="add_pass" v-on:click="addPassenger(type.name)">
                                        <span href="#">+</span>
                                    </div>
                                    <input type="hidden" :name="type.name" v-model="type.count" />
                                </div>
                                <div class="pass_inf">
                                    <div class="category" data-local="true" data-localtext="PASS_CAT_INF">{{locale(type.text)}}</div>
                                    <div class="age" data-local="true" data-localtext="PASS_CAT_INF_NS_DESC">{{locale(type.desc)}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="error-box">
                            <label v-for="msg in avia.passengers.messages">{{msg}}</label>
                        </div>
                        <span href="#" class="button-hide hidden-xs">
                            <span class="hide-inner" data-local="true" data-localtext="HIDE">{{locale("HIDE")}}</span>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field find">
            <button type="submit" class="search" data-local="true" data-localtext="FIND">{{locale("FIND")}}</button>
        </div>
        <div class="field time">
            <label class="hidden-xs menu-title">{{locale("TIME_FLY_THERE")}}</label>
            <div class="control-field">
                <div class="selectpicker book-time">
                    <div class="options">
                        <div class="option" v-on:click="avia.aviFromTime=0">
                            <span data-local="true" data-localtext="AT_ANY_TIME">{{locale("AT_ANY_TIME")}}</span>
                            <input type="radio" name="book_from_time" value="0"  v-bind:checked="avia.aviFromTime == 0" />
                        </div>
                        <div class="option" v-on:click="avia.aviFromTime=1">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_MORNING">{{locale("IN_THE_MORNING")}}</span> [00:01-10:00]
                            </span>
                            <input type="radio" name="book_from_time" value="1" v-bind:checked="avia.aviFromTime == 1"/>
                        </div>
                        <div class="option" v-on:click="avia.aviFromTime=2">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_AFTERNOON">{{locale("IN_THE_AFTERNOON")}}</span> [10:01-16:00]
                            </span>
                            <input type="radio" name="book_from_time" value="2" v-bind:checked="avia.aviFromTime == 2"/>
                        </div>
                        <div class="option" v-on:click="avia.aviFromTime=3">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_EVENING">{{locale("IN_THE_EVENING")}}</span> [16:01-23:59]
                            </span>
                            <input type="radio" name="book_from_time" value="3" v-bind:checked="avia.aviFromTime == 3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field time">
        <label class="hidden-xs menu-title">{{locale("TIME_FLY_BACK")}}</label>
        <div class="control-field">
            <div class="selectpicker book-time">
                <div class="options">
                    <div class="option" v-on:click="avia.aviToTime=0">
                        <span data-local="true" data-localtext="AT_ANY_TIME">{{locale("AT_ANY_TIME")}}</span>
                        <input type="radio" name="book_to_time" value="0" v-bind:checked="avia.aviToTime == 0"/>
                    </div>
                    <div class="option" v-on:click="avia.aviToTime=1">
                        <span>
                                <span data-local="true" data-localtext="IN_THE_MORNING">{{locale("IN_THE_MORNING")}}</span> [00:01-10:00]
                            </span>
                        <input type="radio" name="book_to_time" value="1" v-bind:checked="avia.aviToTime == 1"/>
                    </div>
                    <div class="option" v-on:click="avia.aviToTime=2">
                        <span>
                                <span data-local="true" data-localtext="IN_THE_AFTERNOON">{{locale("IN_THE_AFTERNOON")}}</span> [10:01-16:00]
                            </span>
                        <input type="radio" name="book_to_time" value="2" v-bind:checked="avia.aviToTime == 2"/>
                    </div>
                    <div class="option" v-on:click="avia.aviToTime=3">
                        <span>
                                <span data-local="true" data-localtext="IN_THE_EVENING">{{locale("IN_THE_EVENING")}}</span> [16:01-23:59]
                            </span>
                        <input type="radio" name="book_to_time" value="3" v-bind:checked="avia.aviToTime == 3"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="field add_segment" v-on:click="addSegment()" v-show="avia.multyRoutes.length==0 && avia.formType.value=='route'">
        <div class="add transp">
            <a><span>+</span> <span data-local="true" data-localtext="CONTINUE_ROUTE">{{locale("CONTINUE_ROUTE")}}</span></a>
        </div>
    </div>      
        <div class="multy-route" v-if="avia.formType.value=='route'" v-bind:class="{last : index==avia.multyRoutes.length-1}" v-for="(route,index) in avia.multyRoutes">
            <div class="field airport">
                <label class="menu-title">
                    <span class="visible-xs-inline-block link-left hidden">&larr;</span>
                    {{locale("FROM")}}
                    <span class="visible-xs-inline-block link-right hidden">&#215;</span>
                </label>
                <div class="control-field">
                    <airport-input :name="'from_iata'+(index+2)" v-model="route.aviFrom" input-class="book-from" :placeholder="locale('PLACEHOLDER_AIRPORT2')"></airport-input>
                    <div class="error-box"></div>
                </div>
            </div>
            <div class="field airport">
                <label class="menu-title">
                    <span class="visible-xs-inline-block link-left hidden">&larr;</span>
                    {{locale("TO")}}
                    <span class="visible-xs-inline-block link-right hidden">&#215;</span>
                </label>
                <div class="control-field">
                    <airport-input :name="'to_iata'+(index+2)" v-model="route.aviTo" input-class="book-to" :placeholder="locale('PLACEHOLDER_AIRPORT2')"></airport-input>
                    <div class="error-box"></div>
                </div>
            </div>
            <div class="field date">
                 <label class="menu-title">
                    <span class="visible-xs-inline-block link-left hidden">&larr;</span>
                    {{locale("SORTIE")}}
                    <span class="visible-xs-inline-block link-right hidden">&#215;</span>
                </label>
                <div class="control-field">
                    <div class="date-wrapper">
                        <datepicker :placeholder="locale('SELECT_DATE')" language="ru" v-model="route.defaultDateThere" :name="'book_from_date'+(index+2)" input-class="book-date datepicker" :change="updateSegmentsDates(index)" :min-date="index>0?route.minDate:avia.defaultDateThere"></datepicker>
                    </div>
                </div>
            </div>
            <div class="field time">
                <label class="hidden-xs menu-title">{{locale("TIME_FLY_THERE")}}</label>
                <div class="control-field">
                    <div class="selectpicker book-time">
                        <div class="options">
                            <div class="option" v-on:click="route.aviFromTime=0">
                                <span data-local="true" data-localtext="AT_ANY_TIME">{{locale("AT_ANY_TIME")}}</span>
                                <input type="radio" :name="'book_from_time'+(index+2)" value="0" v-bind:checked="route.aviFromTime == 0"/>
                            </div>
                            <div class="option" v-on:click="route.aviFromTime=1">
                                <span>
                                <span data-local="true" data-localtext="IN_THE_MORNING">{{locale("IN_THE_MORNING")}}</span> [00:01-10:00]
                            </span>
                                <input type="radio" :name="'book_from_time'+(index+2)" value="1" v-bind:checked="route.aviFromTime == 1"/>
                            </div>
                            <div class="option" v-on:click="route.aviFromTime=2">
                                <span>
                                <span data-local="true" data-localtext="IN_THE_AFTERNOON">{{locale("IN_THE_AFTERNOON")}}</span> [10:01-16:00]
                            </span>
                                <input type="radio" :name="'book_from_time'+(index+2)" value="2" v-bind:checked="route.aviFromTime == 2"/>
                            </div>
                            <div class="option" v-on:click="route.aviFromTime=3">
                                <span>
                                <span data-local="true" data-localtext="IN_THE_EVENING">{{locale("IN_THE_EVENING")}}</span> [16:01-23:59]
                            </span>
                                <input type="radio" :name="'book_from_time'+(index+2)" value="3" v-bind:checked="route.aviFromTime == 3"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field delete-leg" v-on:click="removeSegment()" v-show="index==avia.multyRoutes.length-1">
                <div class="transp">
                    <span href="#" class="remove-leg">
                        <span data-local="true" data-localtext="REMOVE_LEG">{{locale("REMOVE_LEG")}}</span>
                    </span>
                </div>
            </div>
            <div class="field add_segment" v-on:click="addSegment()" v-show="index===avia.multyRoutes.length-1 && index<avia.maxRoutesCount-1">
                <div class="add transp">
                    <a><span>+</span> <span data-local="true" data-localtext="CONTINUE_ROUTE">{{locale("CONTINUE_ROUTE")}}</span></a>
                </div>
            </div>
        </div>
        <div class="field class">
            <label class="hidden-xs menu-title" data-local="true" data-localtext="CLASS">
                {{locale("CLASS")}}
            </label>
            <div class="control-field">
                <div class="book-class">
                    <div class="selectpicker standalone">
                        <div class="options">
                            <div class="option" v-on:click="avia.bookClass=0">
                                <span data-local="true" data-localtext="FORM_CLASS_ANY">{{locale("FORM_CLASS_ANY")}}</span>
                                <input type="radio" name="book_class" value="0" v-bind:checked="avia.bookClass==0" />
                            </div>
                            <div class="option" v-on:click="avia.bookClass=1">
                                <span data-local="true" data-localtext="FORM_CLASS_E">{{locale("FORM_CLASS_E")}}</span>
                                <input type="radio" name="book_class" value="1" v-bind:checked="avia.bookClass==1"/>
                            </div>
                            <div class="option" v-on:click="avia.bookClass=4">
                                <span data-local="true" data-localtext="FORM_CLASS_W">{{locale("FORM_CLASS_W")}}</span>
                                <input type="radio" name="book_class" value="4" v-bind:checked="avia.bookClass==4"/>
                            </div>
                            <div class="option" v-on:click="avia.bookClass=2">
                                <span data-local="true" data-lfield rangeocaltext="FORM_CLASS_B">{{locale("FORM_CLASS_B")}}</span>
                                <input type="radio" name="book_class" value="2" v-bind:checked="avia.bookClass==2"/>
                            </div>
                            <div class="option" v-on:click="avia.bookClass=3">
                                <span data-local="true" data-localtext="FORM_CLASS_F">{{locale("FORM_CLASS_F")}}</span>
                                <input type="radio" name="book_class" value="3" v-bind:checked="avia.bookClass==3"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field only-direct">
            <div class="direct_flight transp">
                <label class="checkbox-wrapper" :class="{active:avia.onlyDirect}">
                    <div class="check_bull"></div>
                    <input type="checkbox" name="onlyDirect" v-model="avia.onlyDirect" :value="avia.onlyDirect?'True':''"/>
                    <span data-local="true" data-localtext="ONLY_DIRECT_FLIGHTS">{{locale("ONLY_DIRECT_FLIGHTS")}}</span>
                </label>
            </div>
        </div>
        <div class="field carrier">
            <label class="menu-title" data-localtext="AIRCOMPANY">
                <span class="visible-xs-inline-block link-left hidden">&larr;</span>
                {{locale("AIRCOMPANY")}}
                <span class="visible-xs-inline-block link-right hidden">&#215;</span>
            </label>
            <div class="control-field">
                <div class="carriers" tabindex="-1">
                    <div class="item">
                        <div class="inside">
                            <span>{{allAirCompanies}}</span>
                        </div>
                    </div>
                    <div class="carriers-finder g-hide">
                        <div class="carriers-finder-inside">
                            <div v-for="(item, index) in avia.airCompanies">
                                <input type="hidden" :name="'selectedAirCompany'+(index+1)" v-model="avia.airCompanies[index].code"/>
                                <label class="clearfix carrier_name"><span class="pull-left">{{item.label}}</span><span class="pull-right removes" v-on:click="removeCarrier(index)">&#215;</span></label>
                            </div>
                            <div v-show="avia.airCompanies.length<avia.maxAirCompaniesCount">
                                <input type="text" class="typeahead-selectpicker galileo-aircompany-select" data-local="true" data-localPlaceholder="ANY_AVIACOMPANY" :placeholder="locale('ANY_AVIACOMPANY')"/>
                            </div>
                        </div>
                        <span href="#" class="button-hide hidden-xs">
                            <span class="hide-inner" data-local="true" data-localtext="HIDE">{{locale("HIDE")}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field range">
            <label class="hidden-xs menu-title" data-local="true" data-localtext="SEARCH">
                {{locale("SEARCH")}}
            </label>
            <div class="control-field">
                <div class="book-range">
                    <div class="selectpicker standalone">
                        <div class="options">
                            <div class="option" v-on:click="avia.intervalCount = 0">
                                <span data-local="true" data-localtext="BY_EXACT_DATE">{{locale("BY_EXACT_DATE")}}</span>
                                <input type="radio" name="dateRange" value="0" v-bind:checked="avia.intervalCount == 0" />
                            </div>
                            <div class="option" v-on:click="avia.intervalCount = 1">
                                <span>±1 <span data-local="true" data-localtext="DAY">{{locale("DAY")}}</span></span>
                                <input type="radio" name="dateRange" value="1" v-bind:checked="avia.intervalCount == 1"/>
                            </div>
                            <div class="option" v-on:click="avia.intervalCount = 2">
                                <span>±2 <span data-local="true" data-localtext="DAYS">{{locale("DAYS")}}</span></span>
                                <input type="radio" name="dateRange" value="2" v-bind:checked="avia.intervalCount == 2"/>
                            </div>
                            <div class="option" v-on:click="avia.intervalCount = 3">
                                <span>±3 <span data-local="true" data-localtext="DAYS">{{locale("DAYS")}}</span></span>
                                <input type="radio" name="dateRange" value="3" v-bind:checked="avia.intervalCount == 3"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field hide_s">
            <div class="transp">
                <div class="hide_settings dashed">
                    <div class="simple_search" v-on:click="changeAviaFormExtended()">
                        <span>{{locale("SIMPLE_SEARCH")}}</span>
                    </div>
                    <div class="advanced_search" v-on:click="changeAviaFormExtended()">
                        <span>{{locale("ADVANCED_SEARCH")}}</span>
                    </div>
                    <div class="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="field clear ">
            <div class="transp">
                <span href="#" class="clear_form" v-on:click="clearForm()">
                    <span data-local="true" data-localtext="CLEAR_ALL">{{locale("CLEAR_ALL")}}</span>
                </span>
            </div>
        </div>
    </div>
</form>
