<form class="g-hide unload" role="form" id="buses-form-shoot" autocomplete="off">
    <input type="hidden" name="HistoryGuid" :value="buses.historyGuid"/>
    <div class="row">
        <div class="direct radio-group">
            <label v-for="(type,index) in buses.formTypes" v-bind:class="{active: buses.formType.value === type.value}" v-on:click="busTypeChanged(index)">
                <span data-local="true" :data-localtext="type.text">{{locale(type.text)}}</span>
            </label>
            <input type="radio" name="book_type" v-bind:value="buses.formType.value" checked/>
        </div>
    </div>
    <div class="fields-container" v-bind:class="[buses.formType.value,{'extended':buses.formExtended}]">
        <div class="field station from">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("FROM")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <buses-input name="tshi_station_from" input-class="book-from" v-model="buses.stationFrom" :placeholder="locale('BUSES_PLACEHOLDER')" input-class="book-from"></buses-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div v-on:click="swapbusDest()" class="swap"><div class="arrows"></div></div>
        <div class="field station to">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("TO")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <buses-input name="tshi_station_to" input-class="book-to" v-model="buses.stationTo" :placeholder="locale('BUSES_PLACEHOLDER')" input-class="book-from"></buses-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div class="field date from">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("THERE")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper">
                    <datepicker :placeholder="locale('SELECT_DATE')" :language="defaultLang" v-model="buses.dateThere" name="book_from_date" input-class="book-date datepicker" :date-from="buses.dateThere" :date-to="buses.dateBack"></datepicker>
                </div>
            </div>
        </div>
        <div class="field date to">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("BACK")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper">
                    <datepicker :placeholder="locale('SELECT_DATE')" :language="defaultLang" v-model="buses.dateBack" name="book_to_date" input-class="book-date datepicker" :date-from="buses.dateThere" :date-to="buses.dateBack" v-if="buses.formType.value==='roundtrip'"></datepicker>
                    <span class="roundtrip_click" v-on:click="busTypeChanged(1)">{{locale("BACK")}}</span>
                </div>
            </div>
        </div>
        <!--<div class="field time">
            <label class="hidden-xs menu-title">{{locale("DEPARTURE_TIME")}}</label>
            <div class="control-field">
                <div class="selectpicker book-time">
                    <div class="options">
                        <div class="option" v-on:click="buses.timeThere=0">
                            <span data-local="true" data-localtext="AT_ANY_TIME">{{locale("AT_ANY_TIME")}}</span>
                            <input type="radio" name="book_from_time" value="0" v-bind:checked="buses.timeThere == 0"/>
                        </div>
                        <div class="option" v-on:click="buses.timeThere=1">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_MORNING">{{locale("IN_THE_MORNING")}}</span> [00:01-10:00]
                            </span>
                            <input type="radio" name="book_from_time" value="1" v-bind:checked="buses.timeThere == 1"/>
                        </div>
                        <div class="option" v-on:click="buses.timeThere=2">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_AFTERNOON">{{locale("IN_THE_AFTERNOON")}}</span> [10:01-16:00]
                            </span>
                            <input type="radio" name="book_from_time" value="2" v-bind:checked="buses.timeThere == 2"/>
                        </div>
                        <div class="option" v-on:click="buses.timeThere=3">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_EVENING">{{locale("IN_THE_EVENING")}}</span> [16:01-23:59]
                            </span>
                            <input type="radio" name="book_from_time" value="3" v-bind:checked="buses.timeThere == 3"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<div class="field time">
            <label class="hidden-xs menu-title">{{locale("ARRIVAL_TIME")}}</label>
            <div class="control-field">
                <div class="selectpicker book-time">
                    <div class="options">
                        <div class="option" v-on:click="buses.timeBack=0">
                            <span data-local="true" data-localtext="AT_ANY_TIME">{{locale("AT_ANY_TIME")}}</span>
                            <input type="radio" name="book_to_time" value="0" v-bind:checked="buses.timeBack == 0"/>
                        </div>
                        <div class="option" v-on:click="buses.timeBack=1">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_MORNING">{{locale("IN_THE_MORNING")}}</span> [00:01-10:00]
                            </span>
                            <input type="radio" name="book_to_time" value="1" v-bind:checked="buses.timeBack == 1"/>
                        </div>
                        <div class="option" v-on:click="buses.timeBack=2">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_AFTERNOON">{{locale("IN_THE_AFTERNOON")}}</span> [10:01-16:00]
                            </span>
                            <input type="radio" name="book_to_time" value="2" v-bind:checked="buses.timeBack == 2"/>
                        </div>
                        <div class="option" v-on:click="buses.timeBack=3">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_EVENING">{{locale("IN_THE_EVENING")}}</span> [16:01-23:59]
                            </span>
                            <input type="radio" name="book_to_time" value="3" v-bind:checked="buses.timeBack == 3"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="field range">
            <label class="hidden-xs menu-title" data-local="true" data-localtext="SEARCH">
                {{locale("SEARCH")}}
            </label>
            <div class="control-field">
                <div class="book-range">
                    <div class="selectpicker standalone">
                        <div class="options">
                            <div class="option" v-on:click="buses.dateRange = 0">
                                <span data-local="true" data-localtext="BY_EXACT_DATE">{{locale("BY_EXACT_DATE")}}</span>
                                <input type="radio" name="dateRange" value="0" v-bind:checked="buses.dateRange == 0"/>
                            </div>
                            <div class="option" v-on:click="buses.dateRange = 1">
                                <span>&plusmn;1 <span data-local="true" data-localtext="DAY">{{locale("DAY")}}</span></span>
                                <input type="radio" name="dateRange" value="1" v-bind:checked="buses.dateRange == 1"/>
                            </div>
                            <div class="option" v-on:click="buses.dateRange = 2">
                                <span>&plusmn;2 <span data-local="true" data-localtext="DAYS">{{locale("DAYS")}}</span></span>
                                <input type="radio" name="dateRange" value="2" v-bind:checked="buses.dateRange == 2"/>
                            </div>
                            <div class="option" v-on:click="buses.dateRange = 3">
                                <span>&plusmn;3 <span data-local="true" data-localtext="DAYS">{{locale("DAYS")}}</span></span>
                                <input type="radio" name="dateRange" value="3" v-bind:checked="buses.dateRange == 3"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field find">
            <button type="submit" class="search" data-local="true" data-localtext="FIND">{{locale("FIND")}}</button>
        </div>
        <div class="field hide_s">
            <div class="transp" v-on:click="changebusFormExtended()">
                <div class="hide_settings dashed">
                    <div class="simple_search">
                        <span>{{locale("SIMPLE_SEARCH")}}</span>
                    </div>
                    <div class="advanced_search">
                        <span>{{locale("ADVANCED_SEARCH")}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field clear ">
            <div class="transp">
                <span href="#" class="clear_form" v-on:click="clearbusForm()">
                    <span data-local="true" data-localtext="CLEAR_ALL">{{locale("CLEAR_ALL")}}</span>
                </span>
            </div>
        </div>
    </div>
</form>