.rezon-forms {
    #insurances-form-tabs {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-bottom: 30px;

        &:empty {
            display: none;
        }

        a {
            padding: 8px 16px;
            text-decoration: none;
            user-select: none;

            span {
                color: #fff;
                font-weight: 600;
            }

            &.active {
                background: rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                display: inline-block;

                span {
                    color: #ffd600;
                }
            }

            &:not(.active) span {
                border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
            }
        }
    }

    #insurances-form-shoot {
        h2 {
            color: #fff;
        }

        .from {
            .express {
                font-size: 13px;
                top: 50%;
                left: inherit;
                right: 50px;
                transform: translateY(-50%);
            }

            .delete {
                right: 0;
            }
        }

        .book-from {
            padding: 0 70px 0 10px;
        }

        .station .inside:before {
            right: 32px;
        }

        .period {
            align-items: center;
            cursor: pointer;
            user-select: none;

            .select-holder {
                position: relative;

                .select-period {
                    height: 45px;
                    line-height: 45px;
                    padding: 0 40px 0 10px;
                    position: relative;

                    &:before {
                        background: none;
                        border-bottom: 1px solid #546e7a;
                        border-right: 1px solid #546e7a;
                        content: "";
                        display: block;
                        height: 15px;
                        margin: 0;
                        opacity: 0.4;
                        position: absolute;
                        right: 15px;
                        top: 10px;
                        transform: rotate(45deg);
                        width: 15px;
                    }

                    &.active:before {
                        top: 20px;
                        transform: rotate(-135deg);
                    }

                    &:hover:before {
                        opacity: 1;
                    }

                    .placeholder {
                        color: #757575;
                        overflow: hidden;
                        text-overflow: clip;
                    }
                }

                .options {
                    @include to(575px) {
                        text-align: center;
                    }

                    @include from(576px) {
                        background: #fff;
                        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
                        position: absolute;
                        width: 100%;
                        top: 100%;
                        z-index: 1;
                    }

                    .option {
                        padding: 10px 15px;

                        @include to(575px) {
                            padding: 15px 15px;
                        }

                        &:hover {
                            background: #ffd900;
                        }

                        &[disabled] {
                            background: #f1f1f1;
                            color: #9ea9b7;
                            cursor: default;
                        }
                    }
                }
            }

            &.opened {
                .select-period {
                    @include to(575px) {
                        display: none;
                    }
                }
            }
        }

        .remark {
            color: #fff;
            line-height: 120%;
            margin-bottom: 10px;
            text-align: left;
            width: 100%;
        }

        .calendar-footer {
            background: #fcf8e3;
            color: #8a6d3b;
            padding: 10px 10px 15px;
            text-align: center;
        }

        @include from(768px) {
            .station {
                flex-basis: 40%;
                max-width: 40%;
            }

            .date,
            .period {
                flex-basis: 20%;
                max-width: 20%;
            }

            .find {
                flex-basis: 20%;
                max-width: 20%;
            }

            .remark {
                margin-left: 40%;
            }

            .kmu {
                .date {
                    flex-basis: 35%;
                    max-width: 35%;
                }

                .find {
                    flex-basis: 30%;
                    max-width: 30%;
                }

                .remark {
                    margin-left: 0;
                }
            }
        }

        @include from-to(576px, 1199px) {
            .kmu .remark {
                -webkit-order: 1;
                order: 1;
            }

            .fields-container .field.find {
                order: initial;
            }
        }

        @include from-to(576px, 767px) {
            .station {
                flex-basis: 100%;
                max-width: 100%;
            }

            .date,
            .period {
                flex-basis: 35%;
                max-width: 35%;
            }

            .find {
                flex-basis: 30%;
                max-width: 30%;
                margin-left: 0;
            }
        }

        @include to(575px) {
            .from {
                flex-basis: 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }

            .date,
            .period {
                flex-basis: 50%;
                max-width: 50%;

                &.opened {
                    flex-basis: auto;
                    max-width: 100%;
                }
            }

            .find {
                flex-basis: 100%;
                max-width: 100%;
            }

            .earlier .point.from {
                -webkit-flex-basis: auto;
                flex-basis: auto;
                max-width: 100%;
                margin-bottom: 0;
            }

            .calendar-footer {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 10;
            }
        }
    }
}
