#rezon-forms {
    #insurances-form-shoot {
        width: 70%;
        margin: 0 auto;
        .station {
            flex-basis: 40%;
        }
        .date {
            flex-basis: 20%;
        }
        .find {
            flex-basis: 20%;
        }
    }
}