<form class="rezon-form unload bus-form bus-form-new" role="form" id="bus-form-shoot" autocomplete="off" v-on:submit="submitHandler">
    <div class="row hidden">
        <div class="direct radio-group">
            <label v-for="(type,index) in buses.formTypes" v-bind:class="{active: buses.formType.value === type.value}" v-on:click="busTypeChanged(index)">
                <span data-local="true" :data-localtext="type.text">{{locale(type.text)}}</span>
            </label>
            <input type="radio" name="IsRoundTrip" v-bind:value="buses.formType.value" checked />
        </div>
    </div>
    <div class="fields-container" v-bind:class="[buses.formType.value]">
        <div class="field station from">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("FROM")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <buses-input name="LocationFromId" input-class="book-from" v-model="buses.LocationFrom" :placeholder="locale('BUSES_PLACEHOLDER')"></buses-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div v-on:click="swapBusDest()" class="swap"><div class="arrows"></div></div>
        <div class="field station to">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("TO")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <buses-input name="LocationToId" input-class="book-to" v-model="buses.LocationTo" :placeholder="locale('BUSES_PLACEHOLDER')"></buses-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div class="field date from ">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("THERE")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <datepicker :placeholder="locale('SELECT_DATE')" :language="defaultLang" v-model="buses.Date" name="Date" input-class="book-date datepicker" :date-from="buses.Date" :date-to="buses.BackDate"></datepicker>
                </div>
            </div>
        </div>
        <div class="field date to hidden">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("BACK")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <datepicker :placeholder="locale('SELECT_DATE')" :language="defaultLang" v-model="buses.BackDate" name="BackDate" input-class="book-date datepicker" :date-from="buses.Date" :date-to="buses.BackDate"></datepicker>
                    <span class="roundtrip_click" v-on:click="busTypeChanged(1)">{{locale("BACK")}}</span>
                </div>
            </div>
        </div>
        <div class="field find">
            <button type="submit" class="search" data-local="true" data-localtext="FIND">{{locale("FIND")}}</button>
        </div>
        <div class="field clear ">
            <div class="transp">
                <span href="#" class="clear_form" v-on:click="clearbusForm()">
                    <span data-local="true" data-localtext="CLEAR_ALL">{{locale("CLEAR_ALL")}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="earlier" v-if="historyData && historyData.length > 0">
        <div class="earlier-title">{{locale("SEARCHED")}}</div>
        <div class="earlier-box">
            <a href="#" class="earlier-item" v-for="history in historyData.slice(0, 3)" v-on:click.prevent="selectHistoryItem(history)">
                <div class="point from">
                    <div class="point-date">{{ history.formatDate(history.parseDateTime(history.date)) }}</div>
                    <div class="point-item">{{ history.locationFrom.Name }}</div>
                </div>
                <div class="arrow" :class="history.formType.value === 'oneway' ? 'oneway' : ''">
                    <span>&rarr;</span>
                    <span v-if="history.formType.value !== 'oneway'">&larr;</span>
                </div>
                <div class="point to">
                    <div class="point-date" v-if="history.formType.value !== 'oneway'">{{ history.formatDate(history.parseDateTime(history.dateBack)) }}</div>
                    <div class="point-item">{{ history.locationTo.Name }}</div>
                </div>
            </a>
        </div>
    </div>

</form>