<form class="rezon-form unload buses-form" role="form" id="buses-form-shoot" autocomplete="off">
    <input type="hidden" name="HistoryGuid" :value="buses.historyGuid" />
    <input type="hidden" name="hidIgnore" value="false" id="hidIgnore" />
    <input type="hidden" name="book_type" v-bind:value="buses.formType.value"  />

    <div class="fields-container" v-bind:class="[buses.formType.value,{'extended':buses.formExtended}]">
        <div class="field station from">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("FROM")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <buses-input name="CityIdFrom" input-class="book-from" v-model="buses.cityFrom" :placeholder="locale('BUSES_PLACEHOLDER')"></buses-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div v-on:click="swapBusDest()" class="swap"><div class="arrows"></div></div>
        <div class="field station to">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("TO")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <buses-input name="CityIdTo" input-class="book-to" v-model="buses.cityTo" :placeholder="locale('BUSES_PLACEHOLDER')"></buses-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div class="field date from">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("THERE")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <datepicker :placeholder="locale('SELECT_DATE')" :language="defaultLang" v-model="buses.dateThere" name="DateThere" input-class="book-date datepicker" :date-from="buses.dateThere" :date-to="buses.dateBack"></datepicker>
                </div>
            </div>
        </div>
        <div class="field date to">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("BACK")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <datepicker :placeholder="locale('SELECT_DATE')"
                                :language="defaultLang"
                                v-model="buses.dateBack"
                                :button-in-top-message="locale('WITHOUT_RETURN_TICKET')"
                                v-on:button-in-top="busTypeChanged(0)"
                                name="DateBack"
                                input-class="book-date datepicker"
                                :date-from="buses.dateThere"
                                :date-to="buses.dateBack"
                                v-if="buses.formType.value==='roundtrip'"></datepicker>
                    <span class="roundtrip_click" v-on:click="busTypeChanged(1)">{{locale("BACK")}}</span>
                </div>
            </div>
        </div>
        <div class="field pass">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("PASSENGERS")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field bus_pass">
                <div class="pass_counter pass_counter-top" v-if="buses.passenger">
                    <div class="remove_pass" v-on:click="removeBusPassenger()"></div>
                    <div class="count_pass"><span>{{buses.passenger.count}}</span></div>
                    <div class="add_pass" v-on:click="addBusPassenger()"></div>
                    <input type="hidden" :name="buses.passenger.name" v-model="buses.passenger.count" />
                </div>
            </div>
        </div>
        <div class="field find">
            <button type="submit" class="search" data-local="true" data-localtext="FIND">{{locale("FIND")}}</button>
        </div>
        <div class="field clear ">
            <div class="transp">
                <span href="#" class="clear_form" v-on:click="clearbusForm()">
                    <span data-local="true" data-localtext="CLEAR_ALL">{{locale("CLEAR_ALL")}}</span>
                </span>
            </div>
        </div>
    </div>
</form>