.rezon-forms {

    .iata {
        bottom: 14px;
        color: #333;
        font-size: 11px;
        letter-spacing: 0.1em;
        position: absolute;
        right: 35px;
        z-index: 3;
    }

    .country {
        color: #8d8d8d;
        font-size: 13px;
    }

    .pass {
        &:after {
            -webkit-flex-basis: 100%;
            -webkit-order: 1;
            flex-basis: 100%;
            width: 0px;
            height: 0px;
            overflow: hidden;
            order: 1;
            content: "";
            display: table;
            background: blue;
        }

        .pass_types {
            padding: 15px 0;
            min-width: 275px;
        }

        .pass_type {
            padding: 10px 30px 10px 20px;
        }

        .pass_counter {
            margin: -4px 0 0 0;
            text-align: center;
            position: relative;
        }

        .pass_inf {
            margin: 0 155px 0 0;
            white-space: nowrap;
        }

        .remove_pass,
        .add_pass {
            background: #eceff1;
            border-radius: 2px;
            cursor: pointer;
            float: left;
            height: 45px;
            position: relative;
            width: 70px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
        }

        .remove_pass:hover,
        .add_pass:hover {
            background: #b2e7ff;
        }

        .remove_pass:before,
        .add_pass:before,
        .add_pass:after {
            background: #546e7a;
            box-shadow: 0 1px 0 rgba(84, 110, 122, 0.5);
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            width: 15px;
            top: 49%;
        }

        .remove_pass:before {
            left: 16px;
        }

        .add_pass:before,
        .add_pass:after {
            right: 16px;
        }

        .add_pass:after {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
        }

        .count_pass {
            border-radius: 30px;
            border-color: #00b0ff;
            background: #b0bec5;
            color: white;
            float: left;
            line-height: 42px;
            margin: -3px -21px;
            position: relative;
            top: 4px;
            text-align: center;
            width: 42px;
            z-index: 1;
        }

        .pass_counter:hover .count_pass,
        .active .count_pass {
            background: #00b0ff;
        }
    }

    .pass_counter-top {
        margin: 0 !important;
    }

    .passengers {
        position: relative;
        clear: both;

        .switch {
            border-radius: 2px;
            cursor: pointer;
            min-width: 120px;
            line-height: 45px;
            position: relative;
            display: inline-block;
            text-decoration: none;
            width: 100%;

            &.disabled {
                background: #d5d5d5;
                cursor: not-allowed;

                .passengers-text::before {
                    display: none !important;
                }
            }
        }

        span {
            &.active,
            &.active:hover {
                background: #798799;
                border-color: #798799;
                color: #fff;
            }
        }

        &-text {
            box-sizing: border-box;
            color: #282828;
            padding: 0 30px 0 10px;
            white-space: nowrap;
        }

        &.has-error {
            span.switch {
                background: #fcebeb;
                box-shadow: inset 0 0 30px rgba(245, 0, 87, 0.25);
                border-radius: 2px;
            }

            .passengers-text {
                color: #f50057;

                &::before {
                    border-bottom-color: #f50057;
                    border-right-color: #f50057;
                }
            }
        }

        .pass_type {
            .pas-delete {
                width: 13px;
                height: 13px;
                position: absolute;
                top: 50%;
                right: -20px;
                transform: translateY(-50%);
                cursor: pointer;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }

                &::before,
                &::after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    background: #000;
                    position: absolute;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .select-age {
        background: #fff;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.4);
        border-radius: 0 0 2px 2px;
        line-height: 14px;
        outline: 0;
        position: absolute;
        top: 45px;
        left: 0;
        z-index: 200;

        .error-box {
            padding: 10px 20px 10px;
        }

        .category {
            font-size: 13px;
        }

        .age {
            color: rgb(138, 144, 163);
            display: inline-block;
            font-size: 11px;
        }

        .pricePTCOnly {
            .checkbox-wrapper {
                color: #333;
            }

            .check_bull {
                border: 1px solid #8a90a3;
                zoom: 0.8;
                margin: 5px 5px 5px 10px;
            }
        }
    }

    .select-box {
        position: relative;
        width: 90%;
        margin: 20px auto 10px;

        .select-type {
            display: flex;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 5px 15px 0 rgba(95, 112, 164, 0.2);
            border: 1px solid #dedede;
            border-radius: 3px;
            padding: 12px;
            position: relative;
            cursor: pointer;
            z-index: 2;
            font-size: 13px;
            box-sizing: border-box !important;
            user-select: none;

            &:hover .arrow {
                opacity: 1;
            }

            .arrow {
                width: 10px;
                height: 10px;
                border-left: 2px solid #546e7a;
                border-bottom: 2px solid #546e7a;
                margin-left: auto;
                transform: rotate(-45deg);
                opacity: 0.5;

                &.rotate {
                    position: relative;
                    top: 5px;
                    transform: rotate(135deg);
                }
            }
        }

        .types-block {
            background-color: #fff;
            box-shadow: 0 5px 15px 0 rgba(95, 112, 164, 0.2);
            border-left: 1px solid #dedede;
            border-right: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            overflow-y: auto;
            width: 99%;
            max-height: 130px;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;

            .pass_type {
                cursor: pointer;
                padding: 10px;
                display: flex;

                &:hover {
                    background: #b2e7ff;
                }

                .age {
                    margin-left: auto;
                }
            }
        }
    }


    .passengers {
        &.opened .inside::before,
        .opened .passengers-text::before,
        .opened .selected-value::before,
        .opened .selected-value::before {
            top: 20px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        .inside,
        .passengers-text,
        .selected-value,
        .selected-value {
            &::before {
                background: none;
                border-bottom: 1px solid #546e7a;
                border-right: 1px solid #546e7a;
                content: "";
                display: block;
                height: 15px;
                margin: 0;
                opacity: 0.4;
                position: absolute;
                right: 15px;
                top: 10px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                width: 15px;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }

    .remove:hover,
    .passengers a:hover {
        background-color: #eceff1;
        border-radius: 2px;
        color: #333333;
    }

    .airport-finder-link {
        font-size: 13px;
        padding: 0 10px;
        position: absolute;
        top: 33px;
    }

    .avia-airport-finder {
        position: absolute;
        background: #fff;
        padding: 3px 0 0 0;
        top: 31px;
        border-radius: 0 0 4px 4px;
        border-color: #3499DB;
        border-style: solid;
        border-top-width: 0;
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        width: auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        outline: 0;
        box-shadow: 0 5px 5px rgb(121, 135, 153);
        font-size: 13px;
        z-index: 10;

        .avia-airport-finder-inner {
            padding: 10px 9px 20px 9px;

            span {
                margin-top: 3px;
            }
        }
    }

    .avia-airport-finder {
        .typeahead-selectpicker {
            outline: 0;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .tt-dropdown-menu {
            border-color: #ffd900;
        }
    }

    .avia-airport-finder .twitter-typeahead {
        margin-bottom: 10px;
    }

    .tt-dropdown-menu {
        .iata-code {
            font-family: "Open Sans";
            font-size: 11px;
            color: #90a4ae;
            letter-spacing: 0.1em;
            line-height: 12px;
            margin-top: -6px;
            position: absolute;
            right: 10px;
            top: 50%;
        }
    }

    .route .field.pass {
        -webkit-order: 4;
        -webkit-flex-grow: 0;
        -webkit-flex-basis: 20%;
        order: 4;
        flex-grow: 0;
        flex-basis: 20%;
        max-width: 20%;
    }

    .fields-container.route {
        .multy-route {
            display: -webkit-inline-flex;
            -webkit-align-items: flex-end;
            -webkit-flex-wrap: wrap;
            display: inline-flex;
            align-items: flex-end;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 15px;
        }

        .field.find {
            -webkit-order: 6;
            order: 6;
        }

        .hide_s {
            -webkit-order: 5;
            order: 5;
        }
    }

    .fields-container.route .date + .date,
    .fields-container .multy-route {
        display: none;
    }

    .add_segment {
        cursor: pointer;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;

        .transp {
            display: inline-block;
            min-width: 25%;
            padding: 0 20px;
        }
    }

    .fields-container .multy-route .delete-leg {
        display: block;
        flex-basis: 10%;
        flex-grow: 1;
        text-align: center;
        height: 47px;
        position: relative;
        cursor: pointer;
    }

    .field {
        &.pass {
            flex-basis: 7%;
            min-width: 122px;
            flex-grow: 1;
        }


        &.airport {
            -webkit-flex-basis: 25%;
            flex-basis: 25%;
            max-width: 25%;
            min-width: 240px;
            position: relative;

            inside:before {
                content: '';
                right: 60px;
                position: absolute;
                width: 20px;
                top: 0;
                bottom: 0;
                box-shadow: inset -20px 0 10px -10px #fff;
                z-index: 2;
            }
        
            .twitter-typeahead .typeahead-selectpicker-control {
                display: none;
            }

            .suggestions {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 10;
                margin-top: 10px;
                font-size: 12px;

                @include to(575px) {
                    left: 10px;
                    right: 10px;
                }

                &:before {
                    display: block;
                    position: absolute;
                    content: ' ';
                    width: 0;
                    height: 0;
                    border: 8px solid transparent;
                    border-top: 0;
                    border-bottom: 10px solid #06a1f3;
                    top: -10px;
                    left: 30px;
                }

                .suggestion {
                    display: block;
                    color: #fff;
                    padding: 10px 20px;
                    background: #00a1f3;
                    border-radius: 2px;

                    &:hover {
                        background: #0095e1;

                        span {
                            color: #fff;
                        }
                    }

                    &-WR {
                        span {
                            display: block;
                        }

                        .q {
                            font-size: 16px;
                            margin-bottom: 1px;
                        }
                    }
                }
            }
        }
    }

    .fields-container {
        &.route .swap {
            display: none;
        }
    }

    @include to(1199px) {

        .fields-container {

            &.route {
                .multy-route .delete-leg {
                    flex-basis: 25%;
                    flex-grow: 0;
                    max-width: 25%;
                }
            }
        }
    }

    @include from(576px) {
        .fields-container {
            &:not(.route) .airport.from {
                .iata {
                    right: 50px;
                }

                .delete {
                    right: 15px;
                }
            }

            .select-age {
                left: auto;
                right: 0;
            }

            &.route .multy-route {
                margin-top: 30px;
            }
        }

        .transp + .transp {
            margin-left: 10px;
        }

        #avia-form-shoot .hide_s {
            display: flex;
            flex-direction: row;
        }
    }

    @include to(575px) {
        .field.airport {
            -webkit-flex-basis: 100%;
            flex-basis: 100%;
            max-width: 100%;

            &.opened .tt-input {
                padding-right: 60px;
            }
        }



        .fields-container.route {
            .date {
                -webkit-flex-grow: 0;
                flex-grow: 0;
            }

            .multy-route .delete-leg {
                flex-basis: 50%;
                max-width: 50%;
            }
        }

        .field.pass {
            -webkit-flex-basis: 50%;
            flex-basis: 50%;
            max-width: 50%;
        }

        .pass.opened {
            .select-age {
                width: 100%;
                top: 0;
                box-shadow: none;
            }

            .switch-box {
                display: none;
            }
        }

        .field.pass.opened {
            -webkit-flex-basis: auto;
            flex-basis: auto;
            width: 100%;
            max-width: 100%;
        }

        .fields-container.route .field.pass {
            -webkit-order: 4;
            -webkit-flex-basis: 50%;
            flex-basis: 50%;
            max-width: 50%;
            order: 4;

            &.opened {
                -webkit-flex-basis: auto;
                flex-basis: auto;
                max-width: 100%;
            }
        }

        .airport.opened .tt-dropdown-menu {
            top: 100%;
            width: 100%;
        }

        .airport.from {
            margin-bottom: 0;
        }

        .iata {
            right: 4px;
            text-align: center;
            width: 33px;
        }

        .fields-container {
            &:not(.route) {
                .to .iata {
                    bottom: 6px;
                }

                .from .iata {
                    bottom: 20px;
                }
            }

            .field.opened .iata {
                right: 35px;
            }

            .field.airport .delete {
                display: none;
            }

            .field.airport.opened {
                background: white;

                .twitter-typeahead {
                    height: 100%;
                }

                .delete {
                    display: block;
                }
            }
        }




        .add_segment {
            margin: 10px 0 20px 0;
        }
    }

    @include from(1200px) {
        .route .field {
            &.airport {
                flex-basis: 40%;
                max-width: 40%;
            }

            &.date {
                flex-basis: 20%;
                max-width: 20%;
            }
        }

        .fields-container .multy-route .delete-leg {
            flex-basis: 20%;
            max-width: 20%;
        }

        .fields-container .multy-route .delete-leg {
            background: #ff6663;
            border-radius: 50%;
            cursor: pointer;
            height: 30px;
            flex-basis: 30px;
            max-width: 30px;
            margin: 0 -15px 45px -15px;
            position: relative;
            /*Скрываем надпись "удалить сегмент", отображаем вместо неё крестик*/

            .transp {
                display: none;
            }

            &:before,
            &:after {
                background-color: #fff;
                content: ' ';
                display: block;
                height: 60%;
                left: 15px;
                opacity: .8;
                position: absolute;
                top: 6px;
                width: 1px;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            &:hover {
                &:before,
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    @include from-to(576px, 1199px) {
        .fields-container {
            .field.airport,
            .field.pass {
                -webkit-flex-basis: 50%;
                -webkit-flex-grow: 1;
                flex-basis: 50%;
                flex-grow: 1;
                max-width: 50%;
            }

            .field.date,
            &.route .field.pass {
                -webkit-flex-basis: 25%;
                -webkit-flex-grow: 0;
                flex-basis: 25%;
                flex-grow: 0;
                max-width: 25%;
            }
        }
    }
}
