<form class="rezon-form unload insurance-form" role="form" id="insurances-form-shoot" autocomplete="off" v-on:submit="submitHandler">
    <div class="fields-container">
        <div class="field station from">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("SELECT_THE_COUNTRY_OF_TRAVEL")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <insurances-input 
                    name="CountryCode" 
                    input-class="book-from" 
                    v-model="insurances.Location" 
                    :placeholder="locale('SPECIFY_COUNTRY')">
                </insurances-input>
                <div class="error-box"></div>
            </div>
        </div>       
        <div class="field date from ">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("PERIOD_FROM")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <d-date-picker v-model="insurances.DateFrom"
                                   name="DateFrom"
                                   :locale="locale"
                                   :update-page-date-on-select="true"
                                   :page-date-stamp="pageDateStamp">
                    </d-date-picker>
                </div>
            </div>
        </div>
        <div class="field date to">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("PERIOD_TO")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <d-date-picker v-model="insurances.DateTo"
                                   name="DateTo"
                                   :locale="locale"
                                   popup-position-binded-to="DateFrom"
                                   :page-date-stamp="pageDateStamp">
                    </d-date-picker>
                </div>
            </div>
        </div>
        <div class="field find">
            <button type="submit" class="search" data-local="true" data-localtext="FIND">{{locale("FIND")}}</button>
        </div>
        <div class="remark">{{locale("POLICY_ISSUED_BEFORE_TRIP")}}</div>
    </div>
    <div class="earlier" v-if="historyData && historyData.length > 0">
        <div class="earlier-title">{{locale("SEARCHED")}}</div>
        <div class="earlier-box">
            <a href="#" class="earlier-item" v-for="history in historyData.slice(0, 3)" v-on:click.prevent="selectHistoryItem(history)">
                <div class="point from">
                    <div class="point-date">{{ history.formatDate(history.parseDateTime(history.dateFrom)) }} &mdash; {{ history.formatDate(history.parseDateTime(history.dateTo)) }}</div>
                    <div class="point-item">{{ history.location.Name }}</div>
                </div>
            </a>
        </div>
    </div>
</form>