<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Railway Form Standalone</title>		
		
		<link href="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/css/rezon-form.min.css" rel="stylesheet"/>
		
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/jquery-2.1.4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/typeahead.bundle.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/vue_datepicker/Datepicker.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/rezon-universal/form@latest/assets/js/rezon-form.min.js"></script>
    </head>	
<body>
    <div class="wings" id="rezon-forms">
        <div class="rez-forms container">
            <form class="rezon-form unload rail-form" role="form" id="railway-form-shoot" autocomplete="off">
    <input type="hidden" name="HistoryGuid" :value="railway.historyGuid" />
    <input type="hidden" name="book_type" v-bind:value="railway.formType.value" />

    <div class="fields-container" v-bind:class="[railway.formType.value,{'extended':railway.formExtended}]">
        <div class="field station from">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("FROM")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <railway-input name="tshi_station_from" input-class="book-from" v-model="railway.stationFrom" :placeholder="locale('RAILWAY_PLACEHOLDER')"></railway-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div v-on:click="swapRailDest()" class="swap"><div class="arrows"></div></div>
        <div class="field station to">
            <label data-local="true" data-localtext="FROM" class="menu-title">
                <span class="link-left"></span>
                {{locale("TO")}}
                <span class="link-right v-hide"></span>
            </label>
            <div class="control-field">
                <railway-input name="tshi_station_to" input-class="book-to" v-model="railway.stationTo" :placeholder="locale('RAILWAY_PLACEHOLDER')" input-class="book-from"></railway-input>
                <div class="error-box"></div>
            </div>
        </div>
        <div class="field date from">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("THERE")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <d-date-picker v-model="railway.dateThere"
                                   name="book_from_date"
                                   :locale="locale"
                                   :update-page-date-on-select="true"
                                   :page-date-stamp="pageDateStamp">
                        <template slot="top">
                            <div class="calendar-header">
                                <div class="title">{{locale('SELECT_DEPARTURE_DATE')}}</div>
                            </div>
                        </template>
                    </d-date-picker>
                </div>
            </div>
        </div>
        <div class="field date to">
            <label class="menu-title">
                <span class="link-left"></span>
                {{locale("BACK")}}
                <span class="link-right"></span>
            </label>
            <div class="control-field">
                <div class="date-wrapper noselect">
                    <d-date-picker v-if="railway.formType.value==='roundtrip'" v-model="railway.dateBack"
                                   name="book_to_date"
                                   :locale="locale"
                                   popup-position-binded-to="book_from_date"
                                   :page-date-stamp="pageDateStamp">
                        <template slot="top" slot-scope="scopeSlot">
                            <div class="calendar-header">
                                <div class="title">{{locale('SELECT_RETURN_DATE')}}</div>
                                <div class="botton-in-header">
                                    <a href="#" v-on:click.prevent="scopeSlot.hideCalendar(function(){ railTypeChanged(0); })">{{locale('WITHOUT_RETURN_TICKET')}}</a>
                                </div>
                            </div>
                        </template>
                    </d-date-picker>
                    <span class="roundtrip_click" v-on:click="railTypeChanged(1); selectDateToCalendar();">{{locale("BACK")}}</span>
                </div>
            </div>
        </div>
        <div class="field time">
            <label class="hidden-xs menu-title">{{locale("DEPARTURE_TIME")}}</label>
            <div class="control-field">
                <div class="selectpicker book-time">
                    <div class="options">
                        <div class="option" v-on:click="railway.timeThere=0">
                            <span data-local="true" data-localtext="AT_ANY_TIME">{{locale("AT_ANY_TIME")}}</span>
                            <input type="radio" name="book_from_time" value="0" v-bind:checked="railway.timeThere == 0" />
                        </div>
                        <div class="option" v-on:click="railway.timeThere=1">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_MORNING">{{locale("IN_THE_MORNING")}}</span> [00:01-10:00]
                            </span>
                            <input type="radio" name="book_from_time" value="1" v-bind:checked="railway.timeThere == 1" />
                        </div>
                        <div class="option" v-on:click="railway.timeThere=2">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_AFTERNOON">{{locale("IN_THE_AFTERNOON")}}</span> [10:01-16:00]
                            </span>
                            <input type="radio" name="book_from_time" value="2" v-bind:checked="railway.timeThere == 2" />
                        </div>
                        <div class="option" v-on:click="railway.timeThere=3">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_EVENING">{{locale("IN_THE_EVENING")}}</span> [16:01-23:59]
                            </span>
                            <input type="radio" name="book_from_time" value="3" v-bind:checked="railway.timeThere == 3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field time">
            <label class="hidden-xs menu-title">{{locale("ARRIVAL_TIME")}}</label>
            <div class="control-field">
                <div class="selectpicker book-time">
                    <div class="options">
                        <div class="option" v-on:click="railway.timeBack=0">
                            <span data-local="true" data-localtext="AT_ANY_TIME">{{locale("AT_ANY_TIME")}}</span>
                            <input type="radio" name="book_to_time" value="0" v-bind:checked="railway.timeBack == 0" />
                        </div>
                        <div class="option" v-on:click="railway.timeBack=1">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_MORNING">{{locale("IN_THE_MORNING")}}</span> [00:01-10:00]
                            </span>
                            <input type="radio" name="book_to_time" value="1" v-bind:checked="railway.timeBack == 1" />
                        </div>
                        <div class="option" v-on:click="railway.timeBack=2">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_AFTERNOON">{{locale("IN_THE_AFTERNOON")}}</span> [10:01-16:00]
                            </span>
                            <input type="radio" name="book_to_time" value="2" v-bind:checked="railway.timeBack == 2" />
                        </div>
                        <div class="option" v-on:click="railway.timeBack=3">
                            <span>
                                <span data-local="true" data-localtext="IN_THE_EVENING">{{locale("IN_THE_EVENING")}}</span> [16:01-23:59]
                            </span>
                            <input type="radio" name="book_to_time" value="3" v-bind:checked="railway.timeBack == 3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field range" v-show="railway.enabledDateRange && railway.enabledDateRange > 0 ">
            <label class="hidden-xs menu-title" data-local="true" data-localtext="SEARCH">
                {{locale("SEARCH")}}
            </label>
            <div class="control-field">
                <div class="book-range">
                    <div class="selectpicker standalone">
                        <div class="options">
                            <div class="option" v-on:click="railway.dateRange = 0">
                                <span data-local="true" data-localtext="BY_EXACT_DATE">{{locale("BY_EXACT_DATE")}}</span>
                                <input type="radio" name="dateRange" value="0" v-bind:checked="railway.dateRange == 0" />
                            </div>
                            <div class="option" v-show="railway.enabledDateRange && railway.enabledDateRange >= 1" v-on:click="railway.dateRange = 1">
                                <span>&plusmn;1 <span data-local="true" data-localtext="DAY">{{locale("DAY")}}</span></span>
                                <input type="radio" name="dateRange" value="1" v-bind:checked="railway.dateRange == 1" />
                            </div>
                            <div class="option" v-show="railway.enabledDateRange && railway.enabledDateRange >= 2" v-on:click="railway.dateRange = 2">
                                <span>&plusmn;2 <span data-local="true" data-localtext="DAYS">{{locale("DAYS")}}</span></span>
                                <input type="radio" name="dateRange" value="2" v-bind:checked="railway.dateRange == 2" />
                            </div>
                            <div class="option" v-show="railway.enabledDateRange && railway.enabledDateRange >= 3" v-on:click="railway.dateRange = 3">
                                <span>&plusmn;3 <span data-local="true" data-localtext="DAYS">{{locale("DAYS")}}</span></span>
                                <input type="radio" name="dateRange" value="3" v-bind:checked="railway.dateRange == 3" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field find">
            <button type="submit" class="search" data-local="true" data-localtext="FIND">{{locale("FIND")}}</button>
        </div>
        <div class="field hide_s">
            <div class="transp" v-on:click="changeRailFormExtended()">
                <div class="hide_settings dashed">
                    <div class="simple_search">
                        <span>{{locale("SIMPLE_SEARCH")}}</span>
                    </div>
                    <div class="advanced_search">
                        <span>{{locale("ADVANCED_SEARCH")}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field clear ">
            <div class="transp">
                <span href="#" class="clear_form" v-on:click="clearRailForm()">
                    <span data-local="true" data-localtext="CLEAR_ALL">{{locale("CLEAR_ALL")}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="earlier" v-if="historyData && historyData.length > 0">
        <div class="earlier-title">{{locale("SEARCHED")}}</div>
        <div class="earlier-box">
            <a href="#" class="earlier-item" v-for="history in historyData.slice(0, 3)" v-on:click.prevent="selectHistoryItem(history)">
                <div class="point from">
                    <div class="point-date">{{ history.formatDate(history.parseDateTime(history.dateThere)) }}</div>
                    <div class="point-item">{{ history.formatStation(history.stationFrom.Name) }}</div>
                </div>
                <div class="arrow" :class="history.formType.value === 'oneway' ? 'oneway' : ''">
                    <span>&rarr;</span>
                    <span v-if="history.formType.value !== 'oneway'">&larr;</span>
                </div>
                <div class="point to">
                    <div class="point-date" v-if="history.formType.value !== 'oneway'">{{ history.formatDate(history.parseDateTime(history.dateBack)) }}</div>
                    <div class="point-item">{{ history.formatStation(history.stationTo.Name) }}</div>
                </div>
            </a>
        </div>
    </div>
</form>
        </div>
    </div>
	<script type="text/javascript">
		$(document).ready(function(){
		    $("#rezon-forms").rezOnForm({
				projectUrl: "https://test.rezonuniversal.com/",
				defaultLang: "ru",
				formType: "railway",
				formTarget: "_blank"
			});
		});
	</script>
</body>
</html>
